In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("C:\\Users\\User\\Downloads\\Customer_Call.xlsx")

In [3]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [4]:
df.shape

(21, 8)

In [5]:
df=df.drop_duplicates()

In [6]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [7]:
df['Last_Name']=df['Last_Name'].str.lstrip("...")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [8]:
df['Last_Name']=df['Last_Name'].str.lstrip("/")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [9]:
df['Last_Name']=df['Last_Name'].str.rstrip("_")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [10]:
df["Phone_Number"]=df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

C:\Users\User\AppData\Local\Temp\ipykernel_10120\2163535137.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Phone_Number"]=df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

In [11]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True

In [28]:
df['Phone_Number'].apply(lambda x:x[0:3]+'-'+x[3:6]+'-'+x[6:10])

0     123-545-5421
1     123-643-9775
2            nan--
3     123-543-2345
4     876-678-3469
5     304-762-2467
6            nan--
7     876-678-3469
8             Na--
9     123-545-5421
10           nan--
11           nan--
12    123-543-2345
13    876-678-3469
14    304-762-2467
15    123-545-5421
16    123-643-9775
17           nan--
18            Na--
19    876-678-3469
Name: Phone_Number, dtype: object

In [27]:
df['Phone_Number']=df["Phone_Number"].apply(lambda x :str(x))

In [30]:
df['Phone_Number']=df['Phone_Number'].str.replace('nan--','')

In [31]:
df['Phone_Number']

0     1235455421
1     1236439775
2            nan
3     1235432345
4     8766783469
5     3047622467
6            nan
7     8766783469
8             Na
9     1235455421
10           nan
11           nan
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           nan
18            Na
19    8766783469
Name: Phone_Number, dtype: object

In [34]:
df['Phone_Number']=df['Phone_Number'].str.replace('Na','')

In [35]:
df["Phone_Number"]

0     1235455421
1     1236439775
2            nan
3     1235432345
4     8766783469
5     3047622467
6            nan
7     8766783469
8
9     1235455421
10           nan
11           nan
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           nan
18
19    8766783469
Name: Phone_Number, dtype: object

In [36]:
df['Phone_Number']=df['Phone_Number'].str.replace('nan','')

In [37]:
df['Phone_Number']

0     1235455421
1     1236439775
2
3     1235432345
4     8766783469
5     3047622467
6
7     8766783469
8
9     1235455421
10
11
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17
18
19    8766783469
Name: Phone_Number, dtype: object

In [38]:
df[['Street_Address',"State","Zip_Code"]]=df["Address"].str.split(",",2,expand=True)

C:\Users\User\AppData\Local\Temp\ipykernel_10120\683106137.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Street_Address',"State","Zip_Code"]]=df["Address"].str.split(",",2,expand=True)

In [39]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Phone Number,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True,1235455421,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False,1236439775,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True,nan,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,1235432345,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True,8766783469,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True,3047622467,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,False,nan,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False,8766783469,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False,Na,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True,1235455421,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,True,nan,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,True,nan,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False,1235432345,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False,8766783469,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,False,3047622467,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,1235455421,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False,1236439775,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,True,nan,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,True,Na,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True,8766783469,910 Tatooine Road,Tatooine,None

In [42]:
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('Yes','Y')

In [43]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Phone Number,Street_Address,State,Zip_Code,Do_NOT_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True,1235455421,123 Shire Lane,Shire,None,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Y,False,1236439775,93 West Main Street,None,None,Y
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True,nan,298 Drugs Driveway,None,None,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,1235432345,980 Paper Avenue,Pennsylvania,18503,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True,8766783469,123 Dragons Road,None,None,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Y,True,3047622467,768 City Parkway,None,None,Y
6,1007,Jeff,Winger,,1209 South Street,No,No,False,nan,1209 South Street,None,None,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False,8766783469,98 Clue Drive,None,None,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False,Na,123 Middle Earth,None,None,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True,1235455421,25th Main Street,New York,None,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,True,nan,612 Shire Lane,Shire,None,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,True,nan,2394 Hogwarts Avenue,None,None,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False,1235432345,2039 Main Street,None,None,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False,8766783469,343 City Parkway,None,None,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,False,3047622467,214 HR Avenue,None,None,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,1235455421,2395 Hogwarts Avenue,None,None,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False,1236439775,121 Paper Avenue,Pennsylvania,None,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,True,nan,3498 Super Lane,None,None,NaN
18,1019,Creed,Braton,,N/a,N/a,Y,True,Na,N/a,None,None,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True,8766783469,910 Tatooine Road,Tatooine,None,N

In [44]:
df['Do_Not_Contact']=df['Do_Not_Contact'].str.replace('No','N')

In [45]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Phone Number,Street_Address,State,Zip_Code,Do_NOT_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,N,True,1235455421,123 Shire Lane,Shire,None,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Y,False,1236439775,93 West Main Street,None,None,Y
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True,nan,298 Drugs Driveway,None,None,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,1235432345,980 Paper Avenue,Pennsylvania,18503,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True,8766783469,123 Dragons Road,None,None,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Y,True,3047622467,768 City Parkway,None,None,Y
6,1007,Jeff,Winger,,1209 South Street,No,N,False,nan,1209 South Street,None,None,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False,8766783469,98 Clue Drive,None,None,No
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False,Na,123 Middle Earth,None,None,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,N,True,1235455421,25th Main Street,New York,None,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,N,True,nan,612 Shire Lane,Shire,None,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,True,nan,2394 Hogwarts Avenue,None,None,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False,1235432345,2039 Main Street,None,None,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,N,False,8766783469,343 City Parkway,None,None,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False,3047622467,214 HR Avenue,None,None,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,1235455421,2395 Hogwarts Avenue,None,None,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,N,False,1236439775,121 Paper Avenue,Pennsylvania,None,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,True,nan,3498 Super Lane,None,None,NaN
18,1019,Creed,Braton,,N/a,N/a,Y,True,Na,N/a,None,None,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True,8766783469,910 Tatooine Road,Tatooine,None,N

In [46]:
df['Paying Customer']=df['Paying Customer'].str.replace('Yes','Y')

In [47]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Phone Number,Street_Address,State,Zip_Code,Do_NOT_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True,1235455421,123 Shire Lane,Shire,None,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Y,False,1236439775,93 West Main Street,None,None,Y
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True,nan,298 Drugs Driveway,None,None,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True,1235432345,980 Paper Avenue,Pennsylvania,18503,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True,8766783469,123 Dragons Road,None,None,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True,3047622467,768 City Parkway,None,None,Y
6,1007,Jeff,Winger,,1209 South Street,No,N,False,nan,1209 South Street,None,None,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False,8766783469,98 Clue Drive,None,None,No
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,False,Na,123 Middle Earth,None,None,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True,1235455421,25th Main Street,New York,None,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,True,nan,612 Shire Lane,Shire,None,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,True,nan,2394 Hogwarts Avenue,None,None,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False,1235432345,2039 Main Street,None,None,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False,8766783469,343 City Parkway,None,None,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False,3047622467,214 HR Avenue,None,None,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,1235455421,2395 Hogwarts Avenue,None,None,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False,1236439775,121 Paper Avenue,Pennsylvania,None,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,True,nan,3498 Super Lane,None,None,NaN
18,1019,Creed,Braton,,N/a,N/a,Y,True,Na,N/a,None,None,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True,8766783469,910 Tatooine Road,Tatooine,None,N

In [48]:
df['Paying Customer']=df['Paying Customer'].str.replace('No','N')

In [49]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Phone Number,Street_Address,State,Zip_Code,Do_NOT_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Y,N,True,1235455421,123 Shire Lane,Shire,None,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,N,Y,False,1236439775,93 West Main Street,None,None,Y
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,True,nan,298 Drugs Driveway,None,None,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,True,1235432345,980 Paper Avenue,Pennsylvania,18503,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,N,True,8766783469,123 Dragons Road,None,None,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Y,Y,True,3047622467,768 City Parkway,None,None,Y
6,1007,Jeff,Winger,,1209 South Street,N,N,False,nan,1209 South Street,None,None,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,N,False,8766783469,98 Clue Drive,None,None,No
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,False,Na,123 Middle Earth,None,None,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Y,N,True,1235455421,25th Main Street,New York,None,No
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,N,True,nan,612 Shire Lane,Shire,None,No
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,True,nan,2394 Hogwarts Avenue,None,None,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Y,N,False,1235432345,2039 Main Street,None,None,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Y,N,False,8766783469,343 City Parkway,None,None,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,N,False,3047622467,214 HR Avenue,None,None,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,N,N,False,1235455421,2395 Hogwarts Avenue,None,None,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Y,N,False,1236439775,121 Paper Avenue,Pennsylvania,None,No
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,True,nan,3498 Super Lane,None,None,NaN
18,1019,Creed,Braton,,N/a,N/a,Y,True,Na,N/a,None,None,Y
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Y,N,True,8766783469,910 Tatooine Road,Tatooine,None,N

# Functions

In [12]:
#q1.Wap to add to no.

In [13]:
def add():
    a=4
    b=5
    c=a+b
    print("Add=",c)
    add()#call func

In [14]:
#task -- Wap  to find add of two numbers using function
def add(a,b):
    c=a+b
    print('add=',c)
p=int(input("enter value")) 
q=int(input("enter value"))
add(p,q)

enter value14
enter value55
add= 69

In [15]:
#Q3=wap check even no.
#without arq
def even():
    a=int(input("even no."))
    if (a%2==0):
        print("even no.")
    else:
        print("not an even no.")
even()

even no.22
even no.

In [19]:
# with arg
def evenodd(a):
    if(a%2==0):
        print("even no.")
    else:
        print("odd no.")
a=int(input("enter even no."))
evenodd(a)

enter even no.12
even no.

In [20]:
#no arg no return
def add():
    c=a+b
    print("Add=",c)
a=4
b=3
add()

Add= 7

In [ ]:

#lambda func.
#a lambda func can take any number of arg but can only have one expression
#syntax:lambda arg:expression
#ex-1
#x=lambda a:a+5
#print("Total value=",x(2))

#ex-2
#x=lambda a,b:a*b
#print("total product is =",x(3,4))

#ex=3
#x=lambda a,b,c:a+b-c
#print("Total=",x(4,5,6))

In [21]:
#Filter func
#filter func returns an interator where the items are filtered through a function to test , if item is accepted returns true or false


#ages=[5,12,17,18,34,67,50]
#def myFunc(x):
#    if (x<=18):
#       return True
#   else:
#        return False

In [22]:
#map func
#the map() executes a specified func for each item in a iterable .The item is sent to the func as parameter

#a=["3","45","89"]
#print(a[2])
#a[2]=a[2]+1 #show error

#method -1
#for i in range(len(a)):
#    a[i]=int(a[i])

#a[2]=a[2]+1
#print(a[2])


#method 2 (using map)
#b=list(map(int,a))
# print(b)
#b[2]=b[2]+1
#print(b[2])

#example =2
#a=[1,2,3,4,5]
#def squ(a):
#    return a*a



#square=list(map(squ,a))
#print(square)


#ex=3
#a=[1,2,3,4,5]
#square=list(map(lambda x:x*x,a))
#print(square)

#ex=4
#def square(a):
#     return a*a

In [ ]:
#Reduce func()==
#the reduce fun is used to apply a particular func passed on innits arg to all of the list elements mentioned func passed in its arg to all of the list elements  mentioned in the sequence passed along .this func is defined in "functools" module .At first step ,first two , elments of seq are picked and result is obtained

#ex=1
# from functools import reduce
#def myFunc(a,b):
#   return a+b

#val=[1,2,3,4]
#add=reduce(myFunc)